
@charset "utf-8";

/* CSS for Raptors Web Site */

/* This rule will style the main page body */

body{
    background-color: black;     
    color: black;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    padding: 0;
    margin: 0;
}
#edges {
    background-color:#FFFFFF;
    Color:black;
    margin:25px;
    
    background-image: url(background.jpg);
    background-repeat: repeat-y;
    
}
p {
   padding-bottom:5px;
};

li {
   list-style-type: circle;
}

/* headlines */
h1, h2, h3 {
   font-family: "Times New Roman";
   font-weight: bold;
}
h1 {
    color: #43743D;
    font-size: 1.7em;
}

h2 {
    color: #000000;
    font-size: 1.2em;
    border-bottom-width: 1px;
   border-bottom-style: solid;
   border-bottom-color: #889A9C;
}

h3 {
    color: #889A9C;
    font-size: 1em;
}

/* hyperlink rules */

a:link {
   color: #000000;
}
a:visited {
   color: #43743D;
}
a:hover {
   color: #80B939;
}
a:active {
   color: #80B939;
}

/* Containers */
#main_content {
    float: right;
    width: 65%;
    margin-top: 25px;
    margin-right: 25px;]
}
#main_content li {
   list-style-image: url(bullet.jpg);
   list-style-position: inside;
}
#sidebar {
    color: #889A9C;
    font-size: small;
    font-variant: small-caps;
    line-height: 1.2;
    padding-right: 10px;
    border-right-width: 1px;
    border-right-color: #889A9C;
    border-right-style: solid;
    width: 200px;
    float: left;
    margin-top: 25px;
    margin-right: 25px;
}
#footer {
    clear: both;
    margin: 0px;
    font-size: x-small;
    text-align: center;
    color: #889A9C;
    background-color: #FDED52;
    padding: 10px;
}
/* banner */
#banner {
   text-align: left;
   margin: 0px;
   padding: 0px;
   height: 171px;
   background-color: #FDED52;
   background-image: url(banner.jpg);
   background-repeat: no-repeat;
   background-position: top right;
}
#banner h1{
   color:#43743D;
   margin:0;
   font-size: 70px;
   padding-left: 25px;
   padding-top: 25px;
}
#banner h2{
   color: #000000;
   border: 0;
   font-size: 12px;
   font-variant: small-caps;
   font-weight: bold;
   padding-left: 25px;
}

/* Navigation Bar */
#navigation ul {
   margin: 0px;
   padding: 0px;
   font-size: 14px;
   font-variant: normal;
}
#navigation li {
    list-style-type: none;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}
#navigation a {
    color:#43743D;
    text-decoration: none;
    cursor: pointer;
    border-left-width: 20px;
    border-left-style: solid;
    border-left-color: #43743D;
    padding-left: 5px;
}
#navigation a:hover {
    color: #AD9676;
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #AD9676;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #AD9676;
    padding-left: 5px;
}

/* photos*/
.photo {
    text-align: center;
    float: right;
    width: 325px;
    margin-right: 15px;
    margin-left: 30px;
}
.photo p {
    font-size: 11px;
    font-weight: bold;
    margin-top: 0;
} 
.photo img {
   border-width: 10px;
   border-style: solid;
   border-color: #FFFFFF;
} 

/* tables */
table {
   border-collapse: collapse;
   width: 100%;
   clear: both;
   text-align: left;
}
td, th {
   border-style: solid;
   border-width: thin;
   border-color: #C6C5C5;
   padding: 5px;
   font-size: 0.8em;
}